/* Reset */
body,
ul,
li,
h1,
h2,
p {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #252525;
}
* {
  box-sizing: border-box;
}
